.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.header__phone a {
  display: block;
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
  color: $white-color;
}
