.hero {
  background: #000000;
}

.hero__content {
  padding: 48px 0 32px;
}

.hero__info {
  color: $white-color;
}

.hero__city {
  display: block;
  font-family: $primary-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.hero__text {
  margin-bottom: 48px;
}

.hero__text strong {
  display: block;
  font-family: $primary-font;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero__list {
  @include reset-list;

  line-height: 20px;
  font-weight: 400;
}

.hero__button {
  width: 290px;
}

.hero__image {
  display: none;
}
