.hero {
  background: $primary-gradient;
}

.hero__content {
  padding: 48px 0 32px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  color: $white-color;
}

.hero__city {
  display: block;
  margin-bottom: 14px;
  font-family: $primary-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  text-align: right;
}

.hero__text {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
}

.hero__text strong {
  display: block;
  font-family: $primary-font;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}

.hero__list {
  @include reset-list;

  line-height: 20px;
  font-weight: 400;
  text-align: right;
}

.hero__button {
  width: 100%;
}

.hero__image {
  display: none;
}
